<h2 class="card-title">MLH Hooks Dashboard</h2>
<div class="col-md-12">
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-area-chart"></i> Hackathon chart</div>
        <div class="card-body">
            <canvas id="dashboard-chart" width="100%" height="30"></canvas>
        </div>
        <div class="card-footer small text-muted">Total commits: </div>
    </div>
</div>
