<div class="card">
    <div class="card-body">
        <h2 class="card-title">Add Technology</h2>

        <form method="post">
            <div class="form-group">
                <label for="key">Unique key</label>
                <input type="text" name="key" class="form-control" id="key" value="{{g_post.key}}" placeholder="Technology key name">
            </div>
            <div class="form-group">
                <label for="name">Technology Name</label>
                <input type="text" name="name" class="form-control" id="name" value="{{g_post.name}}" placeholder="Technology Name">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" name="description" class="form-control" id="description" value="{{g_post.description}}" placeholder="Technology Description">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
