<div>
    <footer class="sticky-footer">
        <div class="container">
            <div class="text-center">
                <small>Copyright © 2017</small>
            </div>
        </div>
    </footer>
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/js/sb-admin.min.js"></script>

    {{# if g_script.dataTable}}
        <script src="/js/jquery.dataTables.min.js"></script>
        <script src="/js/dataTables.bootstrap4.min.js"></script>
        <script type="text/javascript">
            $(".dataTable").DataTable();
        </script>
    {{/if}}

    {{# if g_script.heatMap}}
        <script type="text/javascript" src="/js/d3.min.js"></script>
        <script type="text/javascript" src="/js/cal-heatmap.min.js"></script>
        <script type="text/javascript">
            var startDate = new Date();
            startDate = new Date(startDate.getTime() - (1000*60*60*11));
            {{#each calheatmap_data}}
            var cal = new CalHeatMap();
            cal.init({
                start: startDate,
                itemSelector: '#cal-heatmap-{{@index}}',
                domain: "hour",
                cellSize: 5,
                range: 12,
                animationDuration: 100,
                domainGutter: 0,
                domainMargin: 5,
                nextSelector: "#domain-highlight-next-selector-{{@index}}",
                previousSelector: "#domain-highlight-previous-selector-{{@index}}"
            });
            {{/each}}
        </script>
    {{/if}}

    {{# if g_script.ckeditor}}
        <script type="text/javascript" src="/js/ckeditor/ckeditor.js"></script>
    {{/if}}

    {{# if g_script.datetimepicker}}
        <script type="text/javascript" src="/js/datepicker/bootstrap-datetimepicker.min.js"></script>
        <script type="text/javascript">
            $('.form_datetime').datetimepicker({
                weekStart: 1,
                todayBtn:  1,
                autoclose: 1,
                todayHighlight: 1,
                startView: 2,
                forceParse: 0,
                showMeridian: 1
            });
        </script>
    {{/if}}

    {{# if g_script.ace}}
        <script type="text/javascript" src="/js/ace/ace.js" charset="utf-8"></script>
        <script type="text/javascript">
            var editor = ace.edit("editor");
            var textarea = $('#editor-textarea');
            editor.setTheme("ace/theme/github");
            editor.getSession().setMode("ace/mode/javascript");
            editor.getSession().setUseWorker(false);
            editor.getSession().on('change', function(){
                textarea.val(editor.getSession().getValue());
            });
        </script>
    {{/if}}
</div>
