#editor {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 16px;
}

.editor-container{
    height: 300px;
}

.editor-btn {
    padding-top: 20px;
}

.top-space {
    margin-top: 20px;
}

