<div class="card">
    <div class="card-body">
        <h2 class="card-title">Add project</h2>

        <form method="post">
            <div class="form-group">
                <label for="name">Project name</label>
                <input type="text" name="name" class="form-control" id="name" placeholder="Project name">
            </div>
            <div class="form-group">
                <label for="hash">Project hash</label>
                <input type="text" name="hash" class="form-control" id="hash" placeholder="Hash">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
