<h2>{{ project.name }}</h2>
<div class="col-md-12">
    <h4 class="card-title">Commits</h4>
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Commit message</h5>
                <small>3 days ago</small>
            </div>
            <p class="mb-1">Hash: 5a921d22013a00ffecc52232664ab1483a5f5b7f</p>
            <small>By Hello world</small>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Commit message</h5>
                <small>3 days ago</small>
            </div>
            <p class="mb-1">Hash: 5a921d22013a00ffecc52232664ab1483a5f5b7f</p>
            <small>By Hello world</small>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Commit message</h5>
                <small>3 days ago</small>
            </div>
            <p class="mb-1">Hash: 5a921d22013a00ffecc52232664ab1483a5f5b7f</p>
            <small>By Hello world</small>
        </a>
    </div>
</div>
